.ContentDetails {
  &__panel-control-row {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  &__btn-icon--svg {
    padding-right: 8px;
  }

  &__info-panel {
    &.panel.panel-default {
      border-top-color: transparent;
    }
  }

  &__table-info-panel {
    th {
      width: 250px;
      border-right: 1px solid $color-vertical-grey;
    }
  }

  &__attributes {
    padding: 15px 0;
  }

  &__attribute-row {
    margin-bottom: 15px;
    padding: 0 15px;
  }

  &__label-attribute {
    font-weight: bold;
  }

  &__asset-img-preview {
    width: 130px;
    margin-right: 15px;
  }

  &__link-button {
    margin-right: 15px;
  }
}
