.RenderRichTextEditor__content {
  &--maximize {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 0;

    .ql-toolbar { // sass-lint:disable-line class-name-format
      background: #FFFFFF;
    }

    .ql-editor { // sass-lint:disable-line class-name-format
      background: #FFFFFF;
      height: calc(100vh - 40px);
    }
  }
}