.EditContentForm {
  margin-top: 20px;

  &__content {
    padding-bottom: 200px;
  }

  @media only screen and (max-width: 768px) {
    padding: 0 20px;

    & {
      .control-label { //sass-lint:disable-line class-name-format
        float: left;
        text-align: left;
      }
    }
  }

  .tab-content { //sass-lint:disable-line class-name-format
    margin-top: 20px;
  }

  .ql-editor { //sass-lint:disable-line class-name-format
    min-height: 250px;
  }
}
